//META{"name":"EmoteResize","description":"Resize Emotes","author":"Rauenzi/Zerebos","version":"1"}*//{}

/* Emoji Size */
 .markup-2BOw-j .emoji {
  width: 60px;
  height: 60px;
  max-width: 60px !important;
}

/* Reactions Size */
 .reaction-1ELvT8 .emoji {
  width: 20px;
  height: auto;
  margin: -0px 0;
}
